data/raw/ile-de-france-140101.osm.pbf
data/raw/ile-de-france-140101.osm.pbf.mapdb
data/raw/ile-de-france-140101.osm.pbf.mapdb.p
edges_carbike_disconnected.geojson
nodes_carbike_disconnected.geojson
edges_all_file.geojson
edges_all_file.geojson
*.geojson
data/raw/commune-frmetdrom/COMMUNE_FRMETDROM.shp
data/raw/communes-20220101-shp/communes-20220101.shp
etablissements-et-effectifs-salaries-au-niveau-commune-x-ape-last.json
data/clean/identified_gaps.csv
data/clean/mygaps2.csv
